ACTION=="add", KERNEL=="pvrsrvkm", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="video0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="s3c-jpg", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="s3c-mem", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="s3c-mfc", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="dmb", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="s3c-tsi", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video14", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video21", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video22", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="i2c-1", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="i2c-5", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="i2c-6", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="i2c-10", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="onedram", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="modem_ctl", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="modem_fmt", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="modem_rfs", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="s3c2410_serial3", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="block/mtdblock5", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="mtd/mtd5ro", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="dun", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="ttyGS0", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="akm8973", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="accelerometer", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="l3g4200d", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="s3c2410_serial1", OWNER="gps", GROUP="gps", MODE="0600"
ACTION=="add", KERNEL=="s3c2410_serial0", OWNER="bluetooth", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="system", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="mtp_usb", OWNER="system", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="ttyFIQ0", OWNER="root", GROUP="root", MODE="0600"
